body {
	background-color: #000000;
	color: white;
	overflow-x: hidden; 
}

.image-responsive {
	width: 100%;
	height: 100%;
}



@media (min-width:320px) { 
	/* Phone */

}

@media (min-width:961px) {
	/* Desktop */
	.row {
		height: 90vh;
		display: flex;
	  	justify-content: center;
	  	align-items: center;
	}
	#image-blockchain {
		padding: 5rem;
	}
}